# coding: utf-8

"""
    LAAWS Metadata Service API

    API of Metadata Service for LAAWS  # noqa: E501

    OpenAPI spec version: 1.0.0
    Contact: support@lockss.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from lockss_metadata.api_client import ApiClient


class MetadataApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_metadata_aus_auid(self, auid, **kwargs):  # noqa: E501
        """Delete the metadata stored for an AU  # noqa: E501

        Delete the metadata stored for an AU given the AU identifier  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_metadata_aus_auid(auid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str auid: The identifier of the AU for which the metadata is to be deleted (required)
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_metadata_aus_auid_with_http_info(auid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_metadata_aus_auid_with_http_info(auid, **kwargs)  # noqa: E501
            return data

    def delete_metadata_aus_auid_with_http_info(self, auid, **kwargs):  # noqa: E501
        """Delete the metadata stored for an AU  # noqa: E501

        Delete the metadata stored for an AU given the AU identifier  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_metadata_aus_auid_with_http_info(auid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str auid: The identifier of the AU for which the metadata is to be deleted (required)
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['auid']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_metadata_aus_auid" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'auid' is set
        if ('auid' not in params or
                params['auid'] is None):
            raise ValueError("Missing the required parameter `auid` when calling `delete_metadata_aus_auid`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'auid' in params:
            path_params['auid'] = params['auid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/metadata/aus/{auid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_metadata_aus_auid(self, auid, **kwargs):  # noqa: E501
        """Get the metadata stored for an AU  # noqa: E501

        Get the full metadata stored for an AU given the AU identifier or a pageful of the metadata defined by the continuation token and size  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_metadata_aus_auid(auid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str auid: The identifier of the AU for which the metadata is requested (required)
        :param int limit: The number of items per page
        :param str continuation_token: The continuation token of the next page of metadata to be returned
        :return: AuMetadataPageInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_metadata_aus_auid_with_http_info(auid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_metadata_aus_auid_with_http_info(auid, **kwargs)  # noqa: E501
            return data

    def get_metadata_aus_auid_with_http_info(self, auid, **kwargs):  # noqa: E501
        """Get the metadata stored for an AU  # noqa: E501

        Get the full metadata stored for an AU given the AU identifier or a pageful of the metadata defined by the continuation token and size  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_metadata_aus_auid_with_http_info(auid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str auid: The identifier of the AU for which the metadata is requested (required)
        :param int limit: The number of items per page
        :param str continuation_token: The continuation token of the next page of metadata to be returned
        :return: AuMetadataPageInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['auid', 'limit', 'continuation_token']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_metadata_aus_auid" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'auid' is set
        if ('auid' not in params or
                params['auid'] is None):
            raise ValueError("Missing the required parameter `auid` when calling `get_metadata_aus_auid`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'auid' in params:
            path_params['auid'] = params['auid']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'continuation_token' in params:
            query_params.append(('continuationToken', params['continuation_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/metadata/aus/{auid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AuMetadataPageInfo',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_metadata_aus_item(self, item, **kwargs):  # noqa: E501
        """Store the metadata for an AU item  # noqa: E501

        Store the metadata for an item belonging to an AU  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_metadata_aus_item(item, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemMetadata item: The metadata of the AU item to be stored (required)
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_metadata_aus_item_with_http_info(item, **kwargs)  # noqa: E501
        else:
            (data) = self.post_metadata_aus_item_with_http_info(item, **kwargs)  # noqa: E501
            return data

    def post_metadata_aus_item_with_http_info(self, item, **kwargs):  # noqa: E501
        """Store the metadata for an AU item  # noqa: E501

        Store the metadata for an item belonging to an AU  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_metadata_aus_item_with_http_info(item, async=True)
        >>> result = thread.get()

        :param async bool
        :param ItemMetadata item: The metadata of the AU item to be stored (required)
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_metadata_aus_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'item' is set
        if ('item' not in params or
                params['item'] is None):
            raise ValueError("Missing the required parameter `item` when calling `post_metadata_aus_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'item' in params:
            body_params = params['item']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/metadata/aus', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
